section{
    font-family: Arimo;
    background-color: black;
    color:whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 87vh;
}

.caixa {
    width: 95vw;
    text-align: left;
    font-size: 27px;
    padding-bottom: 15px;
}

#texto{
    height: 60%;
    font-size: 19px;
    padding: 30px;
    line-height: 32px;
}

#destaque {
    width: 96%;
    font-size: 23px;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}