.Mapa{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

.peido {
    display: none;
    background-color: beige;
}

#selecione{
    height: 10vh;
    background-color: black;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}