@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lobster&display=swap');

#Showroom{
    background-color: white;
    color: black;
    height: max-content;
}

.titulosecao{
    margin-top: 30px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulosecao h2{
    font-family: Lobster;
    font-size: 30px;
    font-style: italic;
    text-decoration: underline black;
}

.Fileira{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.Card-carro-classic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 43vw;
    height: 40rem;
    margin: 30px;
    border-radius: 18px;
}

.Card-carro-classic:hover{
    box-shadow: 1px 1px 3px 2px rgba(212, 175, 55, 0.8);
    transition: 0.7s ease;
}

.fotoprincipal{
    width: 65%;
    border-radius: 18px;
}

.Container{
    padding: 14px;
    width: 100%;
}

.Container h4{
    font-size: 24px;
}

.Container img{
    width: 26px;
    margin-right: 7px;
    mix-blend-mode: multiply;
}

.Info{
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    width: 100%;
    font-size: 14px;
    margin-bottom: 15px;
}

.preco{
    text-align: center;
}